<?php

declare(strict_types=1);

namespace {{ namespace }};

use {{ response_namespace }}\{{ response_class_name }};

interface {{ class_name }}
{
    public function present({{ response_class_name }} $response): void;
}
