<?php

declare(strict_types=1);

namespace {{ namespace }};

use {{ presenter_namespace }}\{{ presenter_class_name }};
{% if request_class_name %}
use {{ request_namespace }}\{{ request_class_name }};
{% endif %}
use {{ response_namespace }}\{{ response_class_name }};

class {{ class_name }}
{
    public function execute({{ request_class_name ? request_class_name ~ ' $request, ' : ''  }} {{ presenter_class_name }} $presenter): void
    {
        $response = new {{ response_class_name }}();

        $presenter->present($response);
    }
}
