<?php

declare(strict_types=1);

namespace {{ namespace }};

use {{ presenter_namespace }}\{{ presenter_class_name }};
use {{ response_namespace }}\{{ response_class_name }};
use {{ use_case }};
use PHPUnit\Framework\TestCase;

final class {{ class_name }}Test extends TestCase
{
    private {{ use_case }} $useCase;

    private {{ presenter_class_name }} $presenter;

    protected function setUp(): void
    {
        parent::setUp();

        $this->presenter = new class () implements {{ presenter_class_name }} {
            public {{ response_class_name }} $response;
            public function present({{ response_class_name }} $response): void
            {
                $this->response = $response;
            }
        };

        $this->useCase = new {{ use_case }}();
    }

    public function testSuccessful(): void
    {
        $this->useCase->execute($request, $this->presenter);

        $this->assertInstanceOf({{ response_class_name }}::class, $this->presenter->response);
    }
}
