{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter une catégorie</h1>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.name) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.slug) }}
    </div>
    <button type="submit" class="btn btn-outline-primary">Sauvegarder</button>
    {{ form_end(form) }}

{% endblock %}