{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter un produit</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.slug) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.price) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.stock) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.category) }}
        </div>
        <button type="submit" class="btn btn-outline-primary">Sauvegarder</button>
    {{ form_end(form) }}

{% endblock %}