<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
                    <a href="{{ path('home') }}" class="navbar-brand">E-Commerce</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a href="{{ path('home') }}" class="nav-link active">Accueil</a>
                            <a href="#" class="nav-link active">Produits</a>
                            <a href="{{ path('product_create') }}" class="nav-link active">Créer un produit</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
